.estekhdam {
  width: 100%;
  height: 100vh;
  background-color: rgb(184, 184, 184);
}
.body {
  width: 100%;
  height: 100vh;
  background-color: white;
  direction: rtl;
}
.body .card {
  background-color: rgba(236, 236, 236, 0.733);
}
.middle {
  width: 50%;
  background-color: rgb(253, 253, 253);
  height: 70%;
  margin-top: 25px;
  margin-right: 53vh;
}
.middle .forml {
  width: 25%;
  margin-right: 220px;
  margin-top: 15px;
}
.middle .formi {
  width: 350px;
  margin-top: -35px;
  margin-right: 340px;
}
.middle span {
  color: red;
  font-size: 20px;
  position: absolute;
}

.middle .form1 {
padding: 20px;
margin-right: 40px;
margin-left: -20px;
margin-top: -10px;
}

.middle .form1 .select {
  width: 65%;
  height: 40px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ececec;
  outline: none;
}
.middle .form1 .select:focus{
  outline: 1px solid rgb(73, 157, 247);
  box-shadow: 1px 1px 1px rgb(73, 157, 247)
}

.middle .form1 .label1{
 padding-right: 50px;
 font-size: 15px;
}
.middle .form1 .label2{
 padding-right: 65px;
 font-size: 15px;

}


.action {
    width: 98%;
    margin: 1% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(221, 218, 218);
    padding: 1rem 0;
}

.action button {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: #000;
    background-color: #19af2d;
    font-size: 18px;
    transition: all 0.3s;
    cursor: pointer;
}

.middle .label4{
  margin-left: 20px;
}

.middle .textarea{
 padding-right: 145px;
 padding-left: 145px;
}

